body{
    background-color: #272727;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-container{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fff;
    height: 60px;
    width: 100%;
    box-shadow: 0px 1px 4px 0px rgba(163, 163, 163,0.3);
    z-index: 99;
}
.nav-content ul {
    margin: 12px;
    padding: 0px;
    margin-left: 32px;
}
.nav-content ul li{
    display: inline-block;
    margin-left: 42px;
}
#logo{
    margin: 0px;
    font-size: 22px;
    float: left;
    padding: 5px 5px 5px 60px;
    color: #7d7d7d;
}
#search-form{
    position: relative;
    max-width: 656px;
    display: flex;
    flex-direction: row;
}
#search-form input{
    font-size: 14px;
    padding: 10px;
    width: 520px;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #cccccc;
}
#search-btn{
    border: 1px solid #cccccc;
    padding: 0px 18px;
    margin-left: -1px;
    background-color: #f1f1f1;
    font-size: 16px;
    color: #a7a7a7;
    cursor: pointer;
}
.container{
    margin: 80px auto;
    max-width: 1366px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.video-element{
    position: relative;
    width: 200px;
    height: 230px;
    margin: 10px;
    border-radius: 2px 2px 0px 0px;
    border: 1px solid #828282;
    transition: all 300ms ease;
}
.video-element:hover{
    /* box-shadow: 0px 2px 3px 0px rgba(156,156,156,1); */
    transform: scale(1.04,1.04);
}
.video-element img{
    width: 100%;
    border-radius: 2px 2px 0px 0px;
}
.video-element p{
    font-size: 14px;
    margin: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    color: #fff;
}
.video-element button{
    width: 100%;
    padding: 8px 0px;
    border: 0px;
    border-top: 1px solid #828282;
    color: #ffffff;
    background-color: #272727;
    margin-top: 14px;
    font-size: 14px;
    outline: none;
    position: absolute;
    bottom: 0px;
    cursor: pointer;
}
.video-element button a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}