<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Natholi</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>

	<div class="nav-container">
		<div class="nav-content">
			<a id="logo">N@th0li</a>
			<ul>
				<li>
					<form name='search-form' id='search-form'>
						<input type="text" id="keyword" class="search-bar" name="keyword" placeholder="Search for youtube videos">
						<button id="search-btn" type="submit"><i class="fas fa-search"></i></button>
					</form>
				</li>
			</ul>
		</div>
	</div>

	<div id="result-container" class="container"></div>
	
	<script type="text/javascript" src="static/app.js"></script>
</body>
</html>
