<!DOCTYPE html>
<html>
<head>
	<title>youtube-mp3 downloader</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<div id="search-container">
		<form name='search-form' id='search-form'>
			<input type="text" id="keyword" class="search-bar" name="keyword" placeholder="Search for youtube videos">
			<button id="search-btn" type="submit">Search</button>
		</form>
	</div>
	<div id="result-container">
	</div>
	<script type="text/javascript" src="static/app.js"></script>
</body>
</html>
